* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------- navigation bar --------------------- */
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 12px;
    background-color: #343a40; 
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffc107; 
    margin-right: auto;
}

.navbar .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.navbar .nav-link, .a {
    margin: 0 20px; 
    text-decoration: none;
    color: #f8f9fa; 
    font-size: 18px;
    transition: color 0.3s ease, font-weight 0.3s ease; 
    position: relative;
}

.navbar .nav-link:hover {
    color: #ffc107;
    font-weight: bold;
}

.genre-dropdown {
    position: relative;
}

.genre-dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: ghostwhite;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    font-weight: 500;
}

.dropdown-item {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}