* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial, sans-serif';
}

@font-face {
    font-family: 'Gwendolyn-Bold';
    src: url(fonts/Gwendolyn-Bold.ttf);
}

@font-face {
    font-family: 'LXGWWenKaiTC-Bold';
    src: url(fonts/LXGW_WenKai_TC/LXGWWenKaiTC-Bold.ttf);
}

@font-face {
    font-family: 'LXGWWenKaiTC-Light';
    src: url(fonts/LXGW_WenKai_TC/LXGWWenKaiTC-Light.ttf);
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'PTSansNarrow-Bold';
    src: url(fonts/PTSansNarrow-Bold.ttf);
}

/* --------------------- navigation bar --------------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #7c9d45;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    flex-shrink: 0;
}

.navbar .logo-img {
    width: 50px;
    height: auto;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    margin-left: 2%;
    margin-top: 12px;
}

.nav-link {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    position: relative;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Increase text shadow for better visibility */
    transform: scale(1.1); /* Slightly enlarge the text on hover/focus */
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-button {
    text-decoration: none;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #7c9d45;
    background-color: #fff;
    font-weight: 500;
}

.auth-button.login {
    background-color: #fff;
}

.auth-button.signup {
    background-color: #fff;
    color: #7c9d45;
}

.auth-button.signup:hover,
.auth-button.signup:focus {
    background-color: #7c9d45;
    color: #fff;
}

.auth-button:hover,
.auth-button:focus {
    border: 2px solid #fff;
}

/*--------------------- Main page ---------------------*/

.introCon{
    width: 100%;
    margin-top: 0px;
    text-align: center;
}

.introCon img{
    margin-top: 50px;
    width: 250px;
}

.introCon h1{
    font-size: 140px;
    font-family: Gwendolyn-Bold;
    color: #7c9d45;
}

.introCon p{
    font-size: 42px;
    font-weight: 600;
    font-family: Gwendolyn-Bold;
}

/* --------- */

.tempCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 2px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 45px;
}
  
.tempContent {
    flex: 1;
    padding: 12px 0;
    text-align: center;
}

.tempContent p:nth-of-type(1){
    font-size: 30px;
    font-family: BebasNeue-Regular;
    margin-bottom: 15px;
}

.tempContent p:nth-of-type(2){
    font-size: 22px;
    font-family: PTSansNarrow-Bold;
    color: #7c9d45;
}

.tempContent button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: PTSansNarrow-Bold;
    background-color: #7c9d45;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tempContent button:hover {
    color: black;
    background-color: white;
    border: 1px solid #7c9d45;
}

.tempImage {
    flex: 1;
    display: flex;
    justify-content: center;
}
  
.tempImage img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

/* ----- */

.choiceIntro{
    width: 40%;
    border-bottom: 2px solid #7c9d45;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.choiceIntro p{
    text-align: center;
    font-family: BebasNeue-Regular;
    font-size: 40px;
}

.choicesCon{
    width: 99%;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around; /* Spread the cards evenly */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.choiceCard {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 240px;
    flex: 1 1 200px; /* Flex-grow, flex-shrink, and flex-basis for responsiveness */
    margin: 10px; /* Add margin for spacing between cards */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    cursor: pointer;
}

.choiceCard img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.choiceCard .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px;
    color: black;
    font-family: PTSansNarrow-Bold;
}

.choiceCard:hover {
    transform: translateY(-1px); /* Move card up on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

/*---------  */
.optionIntro{
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.optionIntro p{
    text-align: center;
    font-family: BebasNeue-Regular;
    font-size: 60px;
    color: #7c9d45;
}

.optionCon {
    width: 100%;
    padding: 0 12px 0 12px;
    margin-top: 14px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Grid layout for better responsiveness */
    gap: 25px; /* Gap between cards */
}

.optionCard {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    cursor: pointer;
}

.optionCard img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.optionCard .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px;
    color: black;
    font-family: PTSansNarrow-Bold;
    transition: color 0.3s ease; 
}

.optionCard .title:hover {
    color: #7c9d45;
}

.optionCard .subtitle {
    font-size: 1.0em;
    color: black;
    margin: 0;
    font-family: oswald;
    margin-top: auto; 
    padding-bottom: 12px;
}

.optionButton {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically (if the container has a height) */
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
}

.optionButton button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: PTSansNarrow-Bold;
    background-color: black;
    /* background: linear-gradient(135deg, #7c9d45, #92b357);  */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.optionButton button:hover {
    color: black;
    background: linear-gradient(135deg, #92b357, #7c9d45); /* Inverse gradient */
    border: 1px solid #7c9d45;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* ------- */

.posterCon {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.posterCon div {
    max-width: 480px;
    flex: 1 1 200px; 
    margin: 10px; 
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.posterCon img  {
    width: 100%;
}

/* ------------ */

.satisCon{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.satisCon h1{
    text-align: center;
    font-family: PTSansNarrow-Bold;
    font-size: 50px;
    color: #9FB433;
}

.satisCon p{
    text-align: center;
    font-family: PTSansNarrow-Bold;
    font-size: 58px;
    color: #9FB433;
}

/* --------------- */

.newsCon {
    width: 100%;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #7c9d45;
    border-bottom: 1px solid #7c9d45;
}

.newsCon h3 {
    font-family: 'PTSansNarrow-Bold', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.newsCon p {
    font-family: LXGWWenKaiTC-Bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.newsCon .newsletterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsCon .newsletterForm input[type="email"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.newsCon .newsletterForm button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: PTSansNarrow-Bold;
    background-color: black;
    /* background: linear-gradient(135deg, #7c9d45, #92b357);  */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.newsCon .newsletterForm button:hover {
    color: black;
    background: linear-gradient(135deg, #92b357, #7c9d45); /* Inverse gradient */
    border: 1px solid #7c9d45;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* --------------------- Menu --------------------- */

.menuCon{
    width: 40%;
    border-bottom: 2px solid #7c9d45;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

.menuCon p{
    text-align: center;
    font-family: BebasNeue-Regular;
    font-size: 50px;
}

.weeklyIntro{
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.weeklyIntro p{
    text-align: center;
    font-family: BebasNeue-Regular;
    font-size: 40px;
    color: #7c9d45;
}

.weeklyIntro p a{
    font-size: 25px; 
}

/* --------------------- footer --------------------- */

.footer {
    background-color: #7c9d45;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: -10%;
    margin-top: 80px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
  }
  
  .social-icons a:hover {
    color: #ffc107; 
  }

/*--------------------- Responsive ---------------------*/

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar-logo {
        margin-bottom: 10px;
    }

    .logo-img {
        width: 100px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .nav-link {
        margin: 10px 0;
    }

    .auth-buttons {
        flex-direction: column;
        align-items: center;
        width: 150px;
        margin-top: 10px;
    }

    .auth-button {
        margin: 5px 0;
        width: 80%;
        text-align: center;
    }

    /* main page */
    .introCon h1{
        font-size: 100px;  
    }
    
    .introCon p{
        font-size: 40px;   
    }

    .introCon img{
        width: 200px;
    }

    .tempCon {
        flex-direction: column;
        text-align: center;
    }
    
    .content {
        padding-right: 0;
        padding-bottom: 20px;
    }
    
    .image {
        justify-content: center;
    }

    .tempImage img {
        max-width: 60%;
        height: auto;
    }

    .tempImage img {
        max-width: 100%;
    }

    .satisCon h1{
        font-size: 40px;
    }
    
    .satisCon p{
        font-size: 48px;
    }
    
    .menuCon{
        width: 80%;
    }

}

@media (max-width: 590px) {

    /* main page */
    .introCon h1{
        font-size: 90px; 
    }
    
    .introCon p{
        font-size: 31.2px; 
    }

    .tempContent p:nth-of-type(2){
        font-size: 19.8px;
    }
    
    .tempContent button {  
        font-size: 15px;
    }

    .optionCard{
        width: 380px;
        margin: 0 auto;
    }

    .satisCon p{
        text-align: center;
        font-family: PTSansNarrow-Bold;
        font-size: 45px;
        color: #9FB433;
    }

}